table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
th {
  padding: 15px 15px 15px 25px;
  color: #fff;
  font-weight: 600;
}
td {
  padding: 15px 15px 15px 25px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #212529;
}

tr:nth-child(even) {
  background-color: white;
}
th {
  text-align: left;
}
thead th {
  background-color: #718093;
}
tbody tr:hover {
  background-color: #dcdde1;
}
tbody td {
  position: relative;
}
